astroid==2.3.3
autopep8==1.5
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
colorama==0.3.9
cycler==0.10.0
docopt==0.6.2
elasticsearch==7.6.0
idna==2.9
isort==4.3.21
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
matplotlib==3.2.1
mccabe==0.6.1
nltk==3.4.5
num2words==0.5.10
numpy==1.18.2
pandas==1.0.3
pycodestyle==2.5.0
pylint==2.4.4
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
soupsieve==2.0
typed-ast==1.4.1
urllib3==1.25.8
wikipedia==1.4.0
Wikipedia-API==0.5.4
wordnet==0.0.1b2
wrapt==1.11.2
